body{
    font-family: 'Merriweather', serif;

}
h1{
font-size: 50px;
line-height:60%;


}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.width{
    width: 50%;
    padding: 10px;
}
.image-size1{
    width: 700px;
    height: 600px;
}
.image-size2{
    width: 400px;
    height: 400px;
}
.link-button-style{
    text-decoration: none;
    background-image: linear-gradient(green,orange);
    font-weight: 400;
    font-size: 40px;
    color:cyan;
}
#bg-image{
    background-image: url(images/shapes/7.png);
}
.recipies-detail{
    text-align: center;
}